############ MINIO ############
MINIO_ENDPOINT=localhost:900
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USER=root
MINIO_PASSWORD=root
MINIO_USE_SSL=false


############ FILE SERVICE ############
FILE_SERVICE_PORT=5000