############ GENERAL ############


############ POSTGRES ############
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=file_service
POSTGRES_PORT_EXTERNAL=5433
POSTGRES_PORT_INTERNAL=5432

############ MINIO ############
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=key
MINIO_SECRET_KEY=key
MINIO_BUCKET_NAME=files
MINIO_USER=user
MINIO_PASSWORD=pwd
MINIO_USE_SSL=false


############ FILE SERVICE ############
FILE_SERVICE_PORT=50051
FILE_SERVICE_DATABASE_HOST=postgres
FILE_SERVICE_DATABASE_PORT="${POSTGRES_PORT_INTERNAL}"
FILE_SERVICE_DATABASE_USER="${POSTGRES_USERNAME}"
FILE_SERVICE_DATABASE_PASSWORD="${POSTGRES_PASSWORD}"
FILE_SERVICE_DATABASE_NAME=file_service